.custom-cards {
  max-height: 69vh !important;
  min-height:69vh !important;
}
.request-order{
  padding: 0px 15px;
}
.order-card {
  background-color: #fbe9e7; /* Light pink background */
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 8px;
  margin-bottom: 10px;
}
.icons {
  padding: 10px 0px 15px 0px;
}
.file-icon{
  padding-right: 10px;
}
.title{
  padding: 15px 0px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000A6;
}
.order-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.order-date {
  font-size: 12px;
  color: #888;
}

.order-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-info {
  flex-grow: 1;
}

.pickup, .destination {
  margin-top: 10px;
  
}

.label {
  color: #00000073;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.address {
  color: #000000E0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.map-thumbnail {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  overflow: hidden;
  border-radius: 8px;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-top: 1px dashed #ddd;
  padding-top: 8px;
}

.company-info {
  display: flex;
  color: #000000E0;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
}

.company-info img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.view-details {
  font-size: 12px;
  color: #1677FF;
  text-decoration: none;
  font-weight: 400;
  line-height: 22px;
}

.view-details:hover {
  text-decoration: underline;
}
