/* ///SideBar/// */
/* #navbar-nav .nav-item a:hover{
  background-color: #F23514 !important;
  color: white!important;
  margin-bottom: 4px!important;
  border-radius: 12px!important;;
  padding: 0.625rem 1.5rem!important;;
}
.custom-nav-menu .nav-item a:active{
  background-color: #F23514 !important;
  color: white!important;
  margin-bottom: 4px!important;
  padding: 0.625rem 1.5rem!important;
  border-radius: 12px!important;;
} */


.logout {
  margin-top: 80px;
}

.logout a{
  color: #F23514!important;
}
.logout a:hover{
  background-color: white!important;
}
.logout a:active{
  background-color: white!important;
}

